{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel = "stylesheet" type="text/css" href = "../css/my_CSS.css"/>
{% endblock %}

{% block content %}
<body class="bd">
<main>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="col Login" style="width: 45rem; margin-left:21%;">
    <div class="card " >
    <h5 class="card-header text-white cardHeader">
        Authentification
      </h5>
    <div class="card-body">
    <div class="form-group">
      <label for="inputEmail" class="myLabel">Email</label><br>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Entrez votre E-mail" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="myLabel">Mot de passe</label><br>
      <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="Entrez votre mot de passe" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn bttn2" type="submit" style="float:right">
        Connexion
    </button>
	 </div>	
	</div>
</div>
</form>
</main>
</body>
{% endblock %}

