{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body>
    <main>
        <p>Votre compte a bien été activé, nous aimerions en savoir plus sur votre entreprise avant de remplir la convention.</p>
        <br>
        <p class="text-center">Informations sur l'entreprise :
        </p>

        {{ form_start(companyForm) }}
        <div class="mb-3">
            {{ form_row(companyForm.email, {label: "Adresse e-mail de l'entreprise",value: ""}) }}
            {{ form_row(companyForm.firstName, {label: "Nom de l'entreprise"}) }}
            {{ form_row(companyForm.plainPassword, {label: "Mot de passe du compte"}) }}
        </div>
        <span class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary">Valider</button>
            </span>
        {{ form_end(companyForm) }}
    </main>
    </body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}

