{% extends "base.html.twig" %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body>


    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <h1>Création d'un Utilisateur<h1>

            <main>
                {{ form_start(registrationForm) }}
                <p>
                    {{ form_row(registrationForm.email, {label: 'Adresse Mail '}) }}
                </p>
                <p>
                    {{ form_row(registrationForm.firstName, {label: 'Prénom '}) }}
                </p>
                <p>
                    {{ form_row(registrationForm.lastName, {label: 'Nom '}) }}
                </p>
                <p>
                    {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe '}) }}
                </p>
                <p>
                    {{ form_row(registrationForm.role, {label: 'Role '}) }}
                </p>


                <button type="submit" class="btn btn-primary" >Créer</button>
                {{ form_end(registrationForm) }}
            </main>

    </body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}

