<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel = "stylesheet" href = "css/simple.css"/>
    <script src="https://unpkg.com/pdf-lib"></script>
    <title>Projet Alternant</title>
</head>
<body>
{% block body %}
    <header>
    <h1>Administration de l'application</h1>
    <nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('create_user') }}"> Ajouter un utilisateur</a>
            <a href="{{ path('admin_panel') }}"> Administration de l'application</a>
            <a href="{{ path('excel_parse') }}"> Ajout des étudiants automatique</a>

        {% endif %}
        <a href="{{ path('app_index_index') }}"> Index</a>
        <a href="{{ path('my_profil', {userId: app.user.id}) }}">Mon profil</a>
        <a href="{{ path('app_logout') }}"> Déconnexion</a>
    </nav>
</header>
<main>
    <div>
        <h2>Utilisateurs de l'application</h2>
        <table>
            <tr>
                <th>Adresse mail</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
                <th>Activé</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.status }}</td>
                    {% if user.isActive %}
                        <td>Oui</td>
                    {% else %}
                        <td>Non</td>
                    {% endif %}
                    <td>
                        {% for role in user.roles %}
                        {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('update_user', {'userId': user.getId()}) }}"> Modifier</a>
                        <a href="{{ path('delete_user', {'userId': user.getId()}) }}"> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div>
        <h2>Adresse mail de l'administration USMB</h2>

    </div>
</main>
{% endblock %}
</body>
</html>