{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel = "stylesheet" type="text/css" href = "../css/my_CSS.css"/>
{% endblock %}
{% block content %}
<body class="bd">
    <main>
    <p class="grandTitre">Bienvenue sur l'index</p>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
		    <div class="form-inline" style="margin-left: 2%">
            <p class="title">Liste des étudiants :</p>
             <a class="btn border bttn2"  href="{{ path('create_user') }}" style="margin-left: 26%"> Ajouter un utilisateur</a>&nbsp;
             <a class="btn border bttn2"  href="{{ path('excel_parse') }}"> Ajout des étudiants automatique</a>
            </div>
		   {% if students is not empty %}
                <table class="table caption-top table-hover table-light " style="width: 80%; margin-left: 10%;">
				<thead class="table tableHeader" >
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Adresse mail</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Actions</th>
                    </tr>
				</thead>
				<tbody>
                    {% for student in students %}
					
                        <tr class="tableContent">
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td>{{ student.userName }}</td>
                            <td>{{ student.status }}</td>
                            <td >
                                <a href="{{ path('update_user', {'userId': student.getId()}) }}"> Modifier</a>&nbsp;
                                <a href="{{ path('delete_user', {'userId': student.getId()}) }}"> Supprimer</a> <br>
                                {% if student.status == "CONTRACT_SEND" %}
                                    <a href="{{ path('contract_pdf', {'contractId': student.getContract().getId() }) }}"> Pré-convention</a> <br>
                                    <a href="{{ path('validate_work', {'studentId': student.getId() }) }}">Valider l'alternance</a>
                                {% elseif student.status == "WORKING" %}
                                    <a href="{{ path('view_work_contract', {'studentId': student.getId() }) }}"> Contrat d'alternance</a> <br>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
					</tbody>
                </table>
            {% else %}
                <p>Aucun étudiants</p>
            {% endif %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_STUDENT') %}
        <div>
            <p class="myLabel">{{ app.user.firstName }}, Bienvenue dans votre espace !</p>
            {% if app.user.status == "RESEARCH" %}
                <p style="font-family:'Trebuchet MS';">Vous êtes actuellement inscrit dans l'application, vous pouvez partager un lien de connexion avec une entreprise en  </p>
                <a href="{{ path('create_token', {userId: app.user.id}) }}"> cliquant-ici</a>
            {% endif %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_COMPANY') %}
        <div>
            <p class="myLabel">{{ app.user.firstName }}, Bienvenue dans votre espace !</p>

            <p style="font-family:'Trebuchet MS';">L'étudiant {{ tokenCreator.LastName }} {{ tokenCreator.firstName }} est l'auteur du lien d'activation, pour remplir sa convention veuillez :  <a href="{{ path('contract_form', {'userId': tokenCreator.getId()}) }}"> cliquez ici</a></p>
           
        </div>
    {% endif %}

    {% if is_granted('ROLE_TEACHER') %}
        <div>
            <p class="myLabel">{{ app.user.firstName }}, Bienvenue dans votre espace !</p>

            <p class="title">Liste des étudiants dont vous êtes le tuteur :</p>

            {% if students is not empty %}
            <table class="table caption-top table-hover table-light " style="width: 80%; margin-left: 10%;">
			<thead class="table tableHeader" >
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse mail</th>
                    <th scope="col">Actions</th>
                </tr>
			</thead>
			<tbody>
                {% for student in students %}
				 <tr class="tableContent">
                    <td >{{ student.firstName }}</td>
                    <td >{{ student.lastName }}</td>
                    <td >{{ student.userName }}</td>
                    <td >
                        <a href="{{ path('create_review', {'teacherId': teacher.id, 'studentId': student.id}) }}">Créé une review</a>
                    </td>
				</tr>
                {% endfor %}
			</tbody>
            </table>
            {% else %}
                <p class="myLabel">Aucun étudiants</p>
            {% endif %}
        </div>
    {% endif %}
    </main>
</body>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
