{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body>
    <main>
        <h1 class="text-center">Bienvenue sur l'index</h1>

        {% if is_granted('ROLE_ADMIN') %}

        <div>
            <div class="form-inline">
                <h2>Liste des étudiants :</h2>
                <span class="d-flex flex-row-reverse">
                    <a class="btn border btn btn-primary"  href="{{ path('create_user') }}"><i class="fa fa-user-plus" aria-hidden="true" style="color: #FFFFFF;"></i>
 Ajouter un utilisateur</a>&nbsp;
                    <a class="btn border btn btn-primary"  href="{{ path('excel_parse') }}"><i class="fa fa-upload" aria-hidden="true" style="color: #FFFFFF;"></i> Ajout des étudiants automatique</a>
                </span>
                {% if students is not empty %}
                    <table class="table caption-top table-hover table-light">
                        <thead class="table table-header" >

                        <tr class="table-header">
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Adresse mail</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Actions</th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for student in students %}

                            <tr class="table-header">

                                <td>{{ student.firstName }}</td>
                                <td>{{ student.lastName }}</td>
                                <td>{{ student.userName }}</td>
                                <td>{{ student.status }}</td>

                                <td>
                                    <a href="{{ path('update_user', {'userId': student.getId()}) }}" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left"  data-bs-animation='false' data-bs-trigger="hover" data-bs-content="Editer"> <i class="fa fa-pencil" aria-hidden="true" ></i></a>&nbsp;
                                    <a href="{{ path('delete_user', {'userId': student.getId()}) }}" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right"  data-bs-animation='false' data-bs-trigger="hover" data-bs-content="Supprimer"> <i class="fa fa-times" aria-hidden="true"></i></a> <br>
                                    <a href="{{ path('my_profil', {'userId': student.getId()}) }}" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left"  data-bs-animation='false' data-bs-trigger="hover" data-bs-content="Profil"> <i class="fa fa-address-card" aria-hidden="true"></i>
                                    </a>
                                    {% if student.status == "CONTRACT_SEND" %}
                                        <a href="{{ path('contract_pdf', {'contractId': student.getContract().getId() }) }}" data-bs-container="body" data-bs-toggle="popover" data-bs-animation='false' data-bs-placement="right"  data-bs-trigger="hover" data-bs-content="Pré-Convention">Pré-convention</a> <br>
                                        <a href="{{ path('validate_work', {'studentId': student.getId() }) }}" data-bs-container="body" data-bs-toggle="popover" data-bs-animation='false' data-bs-placement="right"  data-bs-trigger="hover" data-bs-content="Valider l'alternance">Valider l'alternance</a>
                                    {% elseif student.status == "WORKING" %}
                                        <a href="{{ path('view_work_contract', {'studentId': student.getId() }) }}" data-bs-container="body" data-bs-toggle="popover" data-bs-animation='false' data-bs-placement="left"  data-bs-trigger="hover" data-bs-content="Contrat d'alternance"><i class="fa fa-file" aria-hidden="true"></i>
                                        </a> <br>
                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                {% else %}
                    <p>Aucun étudiants</p>
                {% endif %}
            </div>
            {% endif %}

            {% if is_granted('ROLE_STUDENT') %}
                <div>

                    <p class="fw-bold">{{ app.user.firstName }}, Bienvenue dans votre espace !</p>
                    {% if app.user.status == "RESEARCH" %}
                        <p>Vous êtes actuellement inscrit dans l'application, vous pouvez partager un lien de connexion avec une entreprise en

                            <a href="{{ path('create_token', {userId: app.user.id}) }}"> cliquant-ici</a>

                        </p>

                    {% endif %}
                    {# {% if app.user.status == "CONTRACT_SEND" %}
                <p>L'entreprise {{ app.user.company.firstName}} a remplie votre pré-convention, vous n'avez plus rien à faire</p>
            {% endif %}
            {% if app.user.status == "WORKING" %}
                <p class="myLabel" >Vous êtes actuellement en alternance avec l'entreprise {{ app.user.company.firstName}}.</p>
                <p>Vôtre tuteur académique assigné est {{ app.user.teacher.lastName }} {{ app.user.teacher.firstName }},
                veuillez prendre contact avec lui au plus vite.</p>
            {% endif %} #}
                </div>
            {% endif %}

            {% if is_granted('ROLE_COMPANY') %}
                <div>

                    <p class="fw-bold">{{ app.user.firstName }}, Bienvenue dans votre espace !</p>

                    {% if researchStudents is not empty %}
                        {% for student in researchStudents %}
                            <p>L'étudiant {{ student.LastName }} {{ student.firstName }} à partagé un lien d'activation avec vous, pour remplir sa pré-convention veuillez
                                <a href="{{ path('contract_form', {'userId': student.getId()}) }}"> cliquez ici</a>
                            </p>


                        {% endfor %}
                    {% endif %}

                    {% if students is not empty %}

                        <h2>Etudiants alternants de l'entreprise :</h2>

                        <table class="table caption-top table-hover table-light ">
                            <thead class="table" >


                            <tr class="table-header">
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse mail</th>
                                <th scope="col">Statut</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr class="tableContent">

                                {% for student in students %}
                                <td>{{ student.firstName }}</td>
                                <td>{{ student.lastName }}</td>
                                <td>{{ student.userName }}</td>
                                <td>{{ student.status }}
                                    {% endfor %}
                            </tr>

                            </tbody>
                        </table>
                    {% endif %}
                </div>
            {% endif %}

            {% if is_granted('ROLE_TEACHER') %}
                <div>


                    <p class="fw-bold">{{ app.user.firstName }}, Bienvenue dans votre espace !</p>
                    {% if students is not empty %}
                        <p class="title">Liste des étudiants dont vous êtes le tuteur :</p>

                        <table class="table caption-top table-hover table-light ">
                            <thead class="table" >

                            <tr class="table-header">
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse mail</th>
                                <th scope="col">Actions</th>
                            </tr>

                            </thead>
                            <tbody>
                            {% for student in students %}
                                <tr class="tableContent">

                                    <td>{{ student.firstName }}</td>
                                    <td>{{ student.lastName }}</td>
                                    <td>{{ student.userName }}</td>
                                    <td>
                                        <a href="{{ path('create_review', {'teacherId': teacher.id, 'studentId': student.id}) }}">Créé une review</a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="fw-bold">Vous n'avez aucun étudiant sous votre tutelle</p>

                    {% endif %}
                </div>
            {% endif %}
        </div>
    </main>

    </body>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}