<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Alternant</title>
</head>
<body>
{% block body %}
    <h1>Bienvenue sur l'index</h1>

    <nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('create_user') }}"> Ajouter un utilisateur</a>
            <a href="{{ path('admin_panel') }}"> Administration de l'application</a>
            <a href="{{ path('excel_parse') }}"> Ajout des étudiants automatique</a>

        {% endif %}
        <a href="{{ path('my_profil', {userId: app.user.id}) }}">Mon profile</a>
        <a href="{{ path('app_logout') }}"> Déconnexion</a>
    </nav>


    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <h2>Liste des etudiants :</h2>

            {% if students is not empty %}
                <table>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Adresse mail</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td>{{ student.userName }}</td>
                            <td>{{ student.status }}</td>
                            <td>
                                <a href="{{ path('update_user', {'userId': student.getId()}) }}"> Modifier</a>
                                <a href="{{ path('delete_user', {'userId': student.getId()}) }}"> Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Aucun Etudiants</p>
            {% endif %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_STUDENT') %}
        <div>
            <p>Bonjour {{ app.user.firstName }}</p>
        </div>
    {% endif %}

    {% if is_granted('ROLE_COMPANY') %}
        <div>
            <p>Bonjour {{ app.user.firstName }}</p>

            <p>L'étudiant {{ tokenCreator.LastName }} {{ tokenCreator.firstName }} est l'auteur du lien d'activation, pour remplir sa convention veuillez</p>
            <a href="{{ path('contract_form', {'userId': tokenCreator.getId()}) }}"> Cliquez ici</a>

            <p>Liste des étudiants actuellement en recherche d'alternances </p>
            <table>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse mail</th>
                    <th>Actions</th>
                </tr>
                {% for student in students %}
                    <tr>
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.userName }}</td>
                        <td>
                            <a href="{{ path('contract_form', {'userId': student.getId()}) }}"> Editer la préconvention</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    {% endif %}



{% endblock %}
</body>
</html>



