{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main>
    <h1>Bienvenue sur l'index</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <h2>Liste des étudiants :</h2>

            {% if students is not empty %}
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Adresse mail</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Actions</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td>{{ student.userName }}</td>
                            <td>{{ student.status }}</td>
                            <td>
                                <a href="{{ path('update_user', {'userId': student.getId()}) }}"> Modifier</a>
                                <a href="{{ path('delete_user', {'userId': student.getId()}) }}"> Supprimer</a> <br>
                                {% if student.status == "CONTRACT_SEND" %}
                                    <a href="{{ path('contract_pdf', {'contractId': student.getContract().getId() }) }}"> Pré-convention</a> <br>
                                    <a href="{{ path('validate_work', {'studentId': student.getId() }) }}">Valider l'alternance</a>
                                {% elseif student.status == "WORKING" %}
                                    <a href="{{ path('view_work_contract', {'studentId': student.getId() }) }}"> Contrat d'alternance</a> <br>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Aucun étudiants</p>
            {% endif %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_STUDENT') %}
        <div>
            <p>Bonjour {{ app.user.firstName }}</p>
            {% if app.user.status == "RESEARCH" %}
                <p>Vous êtes actuellement inscrit dans l'application, vous pouvez partager un lien de connexion avec une entreprise en  </p>
                <a href="{{ path('create_token', {userId: app.user.id}) }}"> cliquant-ici</a>
            {% endif %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_COMPANY') %}
        <div>
            <p>Bonjour {{ app.user.firstName }}</p>

            <p>L'étudiant {{ tokenCreator.LastName }} {{ tokenCreator.firstName }} est l'auteur du lien d'activation, pour remplir sa convention veuillez</p>
            <a href="{{ path('contract_form', {'userId': tokenCreator.getId()}) }}"> cliquez ici</a>
        </div>
    {% endif %}

    {% if is_granted('ROLE_TEACHER') %}
        <div>
            <p>Bonjour {{ app.user.firstName }}</p>

            <h2>Liste des étudiants dont vous êtes le tuteur :</h2>

            {% if students is not empty %}
            <table class="table table-striped">
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse mail</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for student in students %}
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.userName }}</td>
                    <td>
                        <a href="{{ path('create_review', {'teacherId': teacher.id, 'studentId': student.id}) }}">Créé une review</a>
                    </td>
                {% endfor %}
            </table>
            {% else %}
                <p>Aucun étudiants</p>
            {% endif %}
        </div>
    {% endif %}
    </main>
{% endblock %}

