<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel = "stylesheet" type="text/css" href = ""/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <title>Projet Alternant</title>
</head>
<body style="background-color: rgb(221, 247, 242); width: 100vw; min-height: 100vh;">
{% block body %}
 
  
     <nav class="navbar navbar-dark py-0 bg-white navbar-expand-lg py-md-0 border-bottom border-top rounded">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav " >
           
		   <li class="nav-item">
			<a  class="nav-link" style="color: black; font-size: 16px; font-weight: bold; font-family:'Trebuchet MS';" href="{{ path('admin_panel') }}"> Administration de l'application</a>
           </li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item form-inline " >
                 <p style="color: black; font-size: 16px; font-weight: bold; font-family:'Trebuchet MS'; margin-top: 10px;">  <i class="fa fa-user fa-lg" style="color: rgb(7, 12, 85);"> </i>&nbsp; {{ app.user.firstName }} </p>
			
                <div class="dropdown ">
                    <button type="button"  class="btn fa fa-angle-double-down fa-lg" data-toggle="dropdown"></button>
                     <div class="dropdown-menu dropdown-menu-right">
                       <a class="dropdown-item" href="{{ path('my_profil', {userId: app.user.id}) }}"><i class="fa fa-user-circle fa-lg" style="color: rgb(7, 12, 85);"></i>&nbsp; Mon profil</a>
                       <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fa fa-sign-out fa-lg" style="color: rgb(7, 12, 85);"></i>&nbsp; Déconnexion</a> 
                     </div>
                </div>  
            </li>
			
          </ul>
        </div>
      </nav>
	  


<main>
    {% if is_granted('ROLE_ADMIN') %}
            <div class="form-inline">
            <p style="margin-top: 70px; margin-left:120px; color: black; font-size: 27px; font-weight: bold; font-family:'Trebuchet MS';">Liste des alternants</p>
              <!--
              {% if is_granted('ROLE_ADMIN') %}
             <a class="btn border btn-info" style="font-weight: bold; margin-top: 60px; margin-left:320px; "  href="{{ path('create_user') }}"> Ajouter un utilisateur</a>&nbsp;
             <a class="btn border btn-info" style="font-weight: bold; margin-top: 60px;" href="{{ path('excel_parse') }}"> Ajout des étudiants automatique</a>
          
             {% endif %}
         -->
		     </div>
            {% if students is not empty %}
			    
                <table  class="table caption-top table-bordered table-light " style="width: 80%; margin-left: 120px;">
				<thead class="table-info">
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Adresse mail</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Actions</th>
                    </tr>
					</thead>
					<tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td>{{ student.userName }}</td>
                            <td>{{ student.status }}</td>
                            <td>
                                <a href="{{ path('update_user', {'userId': student.getId()}) }}"> Modifier</a>&nbsp;
                                <a href="{{ path('delete_user', {'userId': student.getId()}) }}"> Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
					</tbody>
                </table>
            {% else %}
                <p>Aucun Etudiants</p>
            {% endif %}
        
    {% endif %}

    {% if is_granted('ROLE_STUDENT') %}
        <div>
            <p>Bonjour {{ app.user.firstName }}</p>
        </div>
    {% endif %}

    {% if is_granted('ROLE_COMPANY') %}
        <div>
            <p>Bonjour {{ app.user.firstName }}</p>

            <p>L'étudiant {{ tokenCreator.LastName }} {{ tokenCreator.firstName }} est l'auteur du lien d'activation, pour remplir sa convention veuillez</p>
            <a href="{{ path('contract_form', {'userId': tokenCreator.getId()}) }}"> Cliquez ici</a>

            <p>Liste des étudiants actuellement en recherche d'alternances </p>
            <table>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse mail</th>
                    <th>Actions</th>
                </tr>
                {% for student in students %}
                    <tr>
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.userName }}</td>
                        <td>
                            <a href="{{ path('contract_form', {'userId': student.getId()}) }}"> Editer la préconvention</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    {% endif %}

</main>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src =  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
