{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" type="text/css" href = "../css/my_CSS.css"/>
{% endblock %}
{% block content %}
<body class="bd">
    <p class="title2">Notifications: </p>

    {% if backlog is not empty %}
        <table class="table caption-top table-hover table-light " style="width: 80%; margin-left: 10%;">
        <thead class="table tableHeader">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
            {% for log in backlog %}
                <tr style="font-family:'Trebuchet MS';">
                    <td>{{ log.text }}</td>
                    <td>{{ log.type }}</td>
                    <td>{{ log.createdAt|date("m/d/Y") }}</td>
                    <td>{{ log.createdAt|date("h:i") }}</td>
                    <td>
                        <a href="{{ path('archive-notification', {logId: log.id}) }}">Archiver</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <span style="margin-left: 10%;">Aucune notification à afficher </span>
    {% endif %}


    <p class="title2">Notifications Archivées : </p>

    {% if archivedBacklog is not empty %}
        <table class="table caption-top table-hover table-light " style="width: 80%; margin-left: 10%;">
            <thead class="table tableHeader">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% for log in archivedBacklog %}
                <tr style="font-family:'Trebuchet MS';">
                    <td>{{ log.text }}</td>
                    <td>{{ log.type }}</td>
                    <td>{{ log.createdAt|date("m/d/Y") }}</td>
                    <td>{{ log.createdAt|date("h:i") }}</td>
                    <td>
                        <a href="{{ path('delete-notification', {logId: log.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <span style="margin-left: 10%; font-family:'Trebuchet MS';">Aucune notification à afficher </span>
    {% endif %}
<body>

{% endblock %}