{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body class="bd">
    <p class="title2">Notifications: </p>
    {{ dump(backlog) }}

    {% if backlog is not empty %}
        <table class="table caption-top table-hover table-light ">
            <thead class="table tableHeader">

            <tr>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>

            </thead>
            {% for log in backlog %}
                <tr>

                    <td>{{ log.text }}</td>
                    <td>{{ log.type }}</td>

                    <td>
                        <a href="{{ path('archive-notification', {logId: log.id}) }}">Archiver</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <span style="margin-left: 10%;">Aucune notification à afficher </span>
    {% endif %}
{% endblock %}