{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" type="text/css" href = "../css/my_CSS.css"/>
{% endblock %}
{% block content %}
<body class="bd">
<main>
<div class="col-lg profil">
  
    <div class="card">
    <h5 class="card-header cardHeader">
          Informations de l'utilisateur 
    </h5>
	<div class="card-body">
    <ul style="font-family:'Trebuchet MS';">
        <li> <label class="myLabel">Nom :  </label>{{ user.lastName }}</li>
        <li> <label class="myLabel">Prénom :</label>  {{ user.firstName }}</li>
        <li> <label class="myLabel">Email : </label> {{ user.email }}</li>
    </ul>

    {% if is_granted('ROLE_STUDENT') %}
        {% if token is not null %}
            <p class="text">Lien de connexion actif :</p>
			<ul style="font-family:'Trebuchet MS';">
            <li> <label class="myLabel">Url : </label> {{ token.generateUrl }}</li>
            <li><label class="myLabel">Date d'expiration : </label> {{ token.expireDate|date("m/d/Y h:m") }}</li>
            <li>Vous pouvez regénérer un lien en appuyant sur le button suivant :  <a href="{{ path('create_token', {userId: user.id}) }}"> Générer un lien de connexion</a></li> 
			</ul>
        {% else %}
            <p>Aucun lien n'est actuellement générer, vous pouvez en générer en appuyant sur le button ci-dessous</p>
            <a href="{{ path('create_token', {userId: user.id}) }}"> Générer un lien de connexion</a>
        {% endif %}
    {% endif %}
</div>
</div>
</div>
</main>
</body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}