{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
<main>
    <div>
        <h2>Informations de l'utilisateur</h2>
        <form>
            <div class="form-group row">
                <label for="lastNameInput" class="col-sm-2 col-form-label">Nom :</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="lastNameInput" value="{{ user.lastName }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="firstNameInput" class="col-sm-2 col-form-label">Prénom :</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="firstNameInput" value="{{ user.firstName }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="emailInput" class="col-sm-2 col-form-label">Nom :</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="emailInput" value="{{ user.email }}">
                </div>
            </div>

        </form>
    </div>
    {% if is_granted('ROLE_STUDENT') %}
        <div class="token-div">
        {% if token is not null %}
            <h2>lien de connexion actif</h2>
            <form>
                <div class="form-group row">
                <label for="urlInput" class="col-sm-2 col-form-label">Url :</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="urlInput" value="{{ token.generateUrl }}">
                </div>
                </div>
                <div class="form-group row">
                    <label for="dateInput" class="col-sm-2 col-form-label">Date d'expiration :</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="urlInput" value="{{ token.expireDate|date("m/d/Y") }}">
                    </div>
                </div>
                <a class="btn btn-outline-success" href="{{ path('create_token', {userId: user.id}) }}"> Générer</a>
                <button class="btn btn-outline-primary" id="copy" type="button">Copier</button>
                {% else %}
                    <p>Aucun lien n'est actuellement générer, vous pouvez en générer en appuyant sur le button ci-dessous</p>
                    <a class="btn btn-outline-success" href="{{ path('create_token', {userId: user.id}) }}"> Générer</a>
                {% endif %}
            </form>
        </div>
    {% endif %}

    {% if user.status == "WORKING"%}
        {% if infos is not empty %}
            <h2>Fiche de Poste</h2>
            <table>
                <tr>
                    <th>Eleve</th>
                    <th>Intitulé du poste</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                {% for info in infos %}
                    <tr>
                        <td>{{ info.student.firstName }} {{ info.student.lastName }}</td>
                        <td>
                            {{ info.title }}
                        </td>
                        <td>{{ info.description }}</td>
                        <td>
                            <a href="{{ path('delete_jobinfo', {'jobinfoId': info.getId()}) }}"> Supprimer</a>
                            <a href="{{ path('update_jobinfo', {'jobinfoId': info.getId()}) }}"> Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>vous pouvez renseigner votre fiche de poste en <a href="{{ path('create_jobinfo', {'studentId': user.id}) }}" >cliquant ici</a> </p>

            {% endif %}
    {% endif %}
    <script>
        var toCopy  = document.getElementById( 'urlInput' ),
            btnCopy = document.getElementById( 'copy' );

        btnCopy.addEventListener( 'click', function(){
            toCopy.select();
            document.execCommand( 'copy' );
            return false;
        } );
    </script>
</main>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}