{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main>
        <h2>Validation de l'alternance</h2>
        <p>Cette opération permet de valider l'alternance pour l'étudiant {{ student.lastName }} {{ student.firstName }}</p> <br>
        <p>Veuillez sélectionner le contrat d'alternance : </p>
        <form action="{{ path('upload_work_contract', {'studentId': student.getId() }) }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file-selector" id="file-selector">

            <select name="teacher-select" id="teacher-select">
                <option value="">Veuillez assigner un tuteur à l'étudiant</option>
                {% for teacher in teachers %}
                    <option value="{{ teacher.userName }}">{{ teacher.firstName }} {{ teacher.lastName }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn">Envoyer</button>

        </form>

        <script>
            const fileSelector = document.getElementById('file-selector');
            fileSelector.addEventListener('change', (event) => {
                const fileList = event.target.files;
                console.log(fileList);
                console.log(fileList[0]);
            });
        </script>
    </main>
{% endblock %}
