{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body>
    <main>
        <div class="card">
            <h5 class="card-header">
                Validation de l'alternance
            </h5>
            <div class="card-body">
            <h2>Valider l'alternance pour l'étudiant : {{ student.lastName }} {{ student.firstName }} ?</h2>
                <div class="form-group row">
                <form action="{{ path('upload_work_contract', {'studentId': student.getId() }) }}" method="post" enctype="multipart/form-data">
                    <label for="file-selector" class="col-sm-2 col-form-label fw-bold">Veuillez sélectionner le contrat d'alternance : </label>
                    <input class="form-control" type="file" name="file-selector" id="file-selector">
                    <label for="teacher-select" class="col-sm-2 col-form-label fw-bold">Assigner un tuteur à l'étudiant :</label>
                    <select class="form-select" aria-label="Assigner un tuteur à l'étudiant" name="teacher-select" id="teacher-select">
                        {% for teacher in teachers %}
                            <option value="{{ teacher.userName }}">{{ teacher.firstName }} {{ teacher.lastName }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <span class="d-flex flex-row-reverse">
                    &nbsp;  <button type="submit" class="btn btn-primary">Assigner</button>
                    </span>

                </form>
                </div>

                <script>
                    const fileSelector = document.getElementById('file-selector');
                    fileSelector.addEventListener('change', (event) => {
                        const fileList = event.target.files;
                        console.log(fileList);
                        console.log(fileList[0]);
                    });
                </script>

            </div>
        </div>
    </main>
    </body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}