{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body class="bd">
    <main>
        <div class="card" style="width : 70%; margin-left : 17%; margin-top:10%">
            <h5 class="card-header cardHeader">
                Validation de l'alternance
            </h5>
            <div class="card-body">
                <ul style="font-family:'Trebuchet MS';">
                    <li> <p>Cette opération permet de valider l'alternance pour l'étudiant : {{ student.lastName }} {{ student.firstName }}</p> </li>
                    <li><p>Veuillez sélectionner le contrat d'alternance : </p></li>
                </ul>

                <form action="{{ path('upload_work_contract', {'studentId': student.getId() }) }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file-selector" id="file-selector">

                    <select name="teacher-select" id="teacher-select">
                        <option value="">Veuillez assigner un tuteur à l'étudiant</option>
                        {% for teacher in teachers %}
                            <option value="{{ teacher.userName }}">{{ teacher.firstName }} {{ teacher.lastName }}</option>
                        {% endfor %}
                    </select>

                    &nbsp;  <button type="submit" class="btn bttn2">Envoyer</button>


                </form>

                <script>
                    const fileSelector = document.getElementById('file-selector');
                    fileSelector.addEventListener('change', (event) => {
                        const fileList = event.target.files;
                        console.log(fileList);
                        console.log(fileList[0]);
                    });
                </script>

            </div>
        </div>
    </main>
    </body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}