{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body class="bd">
    <div class="formBody">
        <p class="grandTitre">Modifier la Fiche de Poste</p>


        <main>
            {{ form_start(jobinfoForm) }}
            <p>
                {{ form_row(jobinfoForm.companyName, {label: "Nom de l'entreprise"}) }}
            </p>
            <p>
                {{ form_row(jobinfoForm.context, { label: "Context de l'alternance"}) }}
            </p>
            <p>
                {{ form_row(jobinfoForm.goal, { label: "Objectif de l'alternance"}) }}
            </p>
            <p>
                {{ form_row(jobinfoForm.technology, { label: 'Technologies utilisées'}) }}
            </p>


            <button type="submit" class="btn border bttn2 RightAlign ">Modifier</button>
            {{ form_end(jobinfoForm) }}
        </main>
    </div>

    </body>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}