{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" type="text/css" href = "../css/my_CSS.css"/>
{% endblock %}
{% block content %}
<body style="background-color:rgb(221, 247, 242); font-family:'Trebuchet MS';">
<div style=" width: 60%;margin-left: 20%;font-family:'Trebuchet MS';font-weight: bold;">
<main>
<p style="  color: #0B317D; font-size: 30px; font-weight: bold; text-align: center">Nouvelle Review</p>
    {{ form_start(reviewForm) }}
	<div class="mb-3">
    <p>
        {{ form_row(reviewForm.rating, {label: 'rating '}) }}
    </p>
    <p>
        {{ form_row(reviewForm.content, { label: 'content'}) }}
    </p>
    <p>
        {{ form_row(reviewForm.date, {label: 'date '}) }}
    </p>
	</div>
    <button type="submit" class="btn" style="float: right; color: white; font-size: 16px;font-family:'Trebuchet MS'; background-color : #0B317D;">Créer</button>
    {{ form_end(reviewForm) }}
</main>
</div>
</body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}