{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" type="text/css" href = "../css/myCSS.css"/>
{% endblock %}
{% block content %}
<body class="bd">
<div class="formBody">
    <p class="grandTitre">Nouvelle Review:</p>
<main>
    {{ form_start(reviewForm) }}
    <p>
        {{ form_row(reviewForm.rating, {label: 'rating '}) }}
    </p>
    <p>
        {{ form_row(reviewForm.content, { label: 'content'}) }}
    </p>
    <p>
        {{ form_row(reviewForm.date, {label: 'date '}) }}
    </p>
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(reviewForm) }}
</main>
</div>
</body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}