{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>Nouvelle Review:</h1>

<main>
    {{ form_start(reviewForm) }}
    <p>
        {{ form_row(reviewForm.rating, {label: 'rating '}) }}
    </p>
    <p>
        {{ form_row(reviewForm.content, { label: 'content'}) }}
    </p>
    <p>
        {{ form_row(reviewForm.date, {label: 'date '}) }}
    </p>
    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(reviewForm) }}
</main>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}