{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body style="background-color:rgb(221, 247, 242); font-family:'Trebuchet MS';">
    <div style=" width: 60%;margin-left: 20%;font-family:'Trebuchet MS';font-weight: bold;">
        <p style="color: #0B317D; font-size: 30px; font-weight: bold; text-align: center">Modifier review </p>
        <main>
            {{ form_start(reviewForm) }}
            <div class="mb-3">
                <p>
                    {{ form_row(reviewForm.rating, {label: 'Note'}) }}
                </p>
                <p>
                    {{ form_row(reviewForm.content, { label: 'Appréciation 1'}) }}
                </p>
                <p>
                    {{ form_row(reviewForm.contentTwo, { label: 'Appréciation 2'}) }}
                </p>
                <p>
                    {{ form_row(reviewForm.contentThree, { label: 'Appréciation 3'}) }}
                </p>
                <p>
                    {{ form_row(reviewForm.contentFour, { label: 'Appréciation 4'}) }}
                </p>
                <p>
                    {{ form_row(reviewForm.date, {label: 'Date '}) }}
                </p>

            </div>
            <button type="submit" class="btn btn-warning">Modifier</button>
            {{ form_end(reviewForm) }}
        </main>
    </div>
    </body>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}