{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <main>
        {% if is_granted('ROLE_TEACHER') %}
            <h2>Notations des étudiants : </h2>
            {% if reviews is not empty %}
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Eleve</th>
                        <th scope="col">Date</th>
                        <th scope="col">Note</th>
                        <th scope="col">Appréciation</th>
                    </tr>
                    {% for rev in reviews %}
                        <tr>
                            <td>{{ rev.student.firstName }} {{ rev.student.lastName }}</td>
                            <td>{{ rev.date|date("m/d/Y") }}</td>
                            <td>
                                {{ rev.rating }}
                            </td>
                            <td>{{ rev.content }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>Aucune revue d'alternance disponible</p>
            {% endif %}

        {% elseif is_granted('ROLE_STUDENT') %}
            <h2>Revue de l'alternance : </h2>
        {% if reviews is not empty %}
            <table class="table table-striped">
                <tr>
                    <th scope="col">Tuteur</th>
                    <th scope="col">Date</th>
                    <th scope="col">Note</th>
                    <th scope="col">Appréciation</th>
                </tr>
                {% for rev in reviews %}
                    <tr>
                        <td>{{ rev.author.firstName }} {{ rev.author.lastName }}</td>
                        <td>{{ rev.date|date("m/d/Y h:m") }}</td>
                        <td>
                            {{ rev.rating }}
                        </td>
                        <td>{{ rev.content }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Aucune revue d'alternance disponible</p>
        {% endif %}

        {% elseif is_granted('ROLE_ADMIN') %}
            <h2>Revue des alternances : </h2>
        {% if reviews is not empty %}
            <table class="table table-striped">
                <tr>
                    <th scope="col">Eleve</th>
                    <th scope="col">Tuteur</th>
                    <th scope="col">Date</th>
                    <th scope="col">Note</th>
                    <th scope="col">Appréciation</th>
                    <th scope="col">Actions</th>
                </tr>
                {% for rev in reviews %}
                    <tr>
                        <td>{{ rev.student.firstName }} {{ rev.student.lastName }}</td>
                        <td>{{ rev.author.firstName }} {{ rev.author.lastName }}</td>
                        <td>{{ rev.date|date("m/d/Y h:m") }}</td>
                        <td>
                            {{ rev.rating }}
                        </td>
                        <td>{{ rev.content }}</td>
                        <td>
                            <a href="{{ path('delete_review', {'reviewId': rev.getId()}) }}"> Supprimer</a>
                            <a href="{{ path('update_review', {'reviewId': rev.getId()}) }}"> Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>Aucune revue d'alternance disponible</p>
            {% endif %}
        {% endif %}
    </main>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}