{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block head %}
    {{ parent() }}


{% endblock %}
{% block header %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <body>

    <div>
        <main>
            <h1>Formulaire de préconvention</h1>

            {{ form_start(form) }}
            <div class="mb-3">
                <p>Informations :</p>

                {{ form_row(form.socialReason, {label: 'Raison Sociale'}) }}
                {{ form_row(form.siretNumber, {label: 'Siret'}) }}
                {{ form_row(form.activity, {label: 'Activité'}) }}
                {{ form_row(form.phoneNumber, {label: 'Numero de téléphone'}) }}
                {{ form_row(form.contractEmail, {label: 'Email pour la convention'}) }}


                <p>Adresse :</p>

                {{ form_row(form.locationStreet, {label: 'Rue'}) }}
                {{ form_row(form.locationCity, {label: 'Ville'}) }}
                {{ form_row(form.postalCode, {label: 'Code Postal'}) }}


                <p>Représentant de l'entreprise :</p>

                {{ form_row(form.representativeCivility, {label: 'Civilité'}) }}
                {{ form_row(form.representativeFirstName, {label: 'Prénom'}) }}
                {{ form_row(form.representativeLastName, {label: 'Nom'}) }}
                {{ form_row(form.representativeRole, {label: 'Fonction'}) }}
                {{ form_row(form.representativeEmail, {label: 'Email'}) }}


                <p>Lieux d'éxécution du contrat en alternance (si différent) :</p>

                {{ form_row(form.otherSocialReason, {label: 'Raison Sociale'}) }}
                {{ form_row(form.otherLocationStreet, {label: 'Rue'}) }}
                {{ form_row(form.otherLocationCity, {label: 'Ville'}) }}
                {{ form_row(form.otherPhoneNumber, {label: 'Numero de téléphone'}) }}
                {{ form_row(form.otherPostalCode, {label: 'Code Postal'}) }}


                <p>Type de contrat :</p>

                {{ form_row(form.workerRole, {label: "Fonction de l'alternant"}) }}
                {{ form_row(form.contractType, {label: 'Type'}) }}
                {{ form_row(form.contractStartDate, {label: 'Date de début'}) }}
                {{ form_row(form.contractEndDate, {label: 'Date de fin'}) }}


                <p>Tuteur Professionnel ou Maitre d'apprentissage :</p>

                {{ form_row(form.tutorCivility, {label: 'Civilité'}) }}
                {{ form_row(form.tutorFirstName, {label: 'Prénom'}) }}
                {{ form_row(form.tutorLastName, {label: 'Nom'}) }}
                {{ form_row(form.tutorPhoneNumber, {label: 'Numero de téléphone'}) }}
                {{ form_row(form.tutorEmail, {label: 'Email'}) }}
                {{ form_row(form.tutorRole, {label: 'Fonction du tuteur'}) }}

                <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>

            {{ form_end(form) }}
        </main>
    </div>
    </body>
{% endblock %}

