{% extends 'base.html.twig' %}

{% block title %}Projet Alternant{% endblock %}

{% block body %}

    <nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('create_user') }}"> Ajouter un utilisateur</a>

        {% endif %}
        <a href="{{ path('my_profil', {userId: app.user.id}) }}">Mon profile</a>
        <a href="{{ path('app_logout') }}"> Déconnexion</a>
    </nav>

    <h2>Informations de l'utilisateur</h2>

    <ul>
        <li>Nom :  {{ user.lastName }}</li>
        <li>Prénom :  {{ user.firstName }}</li>
        <li>Email :  {{ user.email }}</li>
    </ul>

    {% if is_granted('ROLE_STUDENT') %}
        {% if tokens is not empty %}
            <h2>Liste des lien de connexion actif :</h2>
            <table>
                <thead>
                <tr>
                    <th>Lien</th>
                    <th>Date d'expiration </th>
                </tr>
                </thead>
                <tbody>
                {% for token in tokens %}
                    <tr>
                        <td>{{ token.generateUrl }}</td>
                        <td>{{ token.expireDate|date("m/d/Y h:m") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun lien n'est actuellement générer, vous pouvez en générer en appuyant sur le button ci-dessous</p>
            <a href="{{ path('create_token', {userId: user.id}) }}"> Générer un lien de connexion</a>
        {% endif %}
    {% endif %}

{% endblock %}