{% extends 'base.html.twig' %}

{% block title %}Projet Alternant{% endblock %}

{% block body %}

    <nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('create_user') }}"> Ajouter un utilisateur</a>

        {% endif %}
        <a href="{{ path('my_profil', {userId: app.user.id}) }}">Mon profile</a>
        <a href="{{ path('app_logout') }}"> Déconnexion</a>
    </nav>

    <h2>Informations de l'utilisateur</h2>

    <ul>
        <li>Nom :  {{ user.lastName }}</li>
        <li>Prénom :  {{ user.firstName }}</li>
        <li>Email :  {{ user.email }}</li>
    </ul>

    {% if is_granted('ROLE_STUDENT') %}
        {% if token is not null %}
            <h2>lien de connexion actif :</h2>
            <p>Url : {{ token.generateUrl }}</p> <br>
            <p>Date d'expiration :  {{ token.expireDate|date("m/d/Y h:m") }}</p> <br>
            <p>vous pouvez regénérer un lien en appuyant sur le button ci-dessous</p>
            <a href="{{ path('create_token', {userId: user.id}) }}"> Générer un lien de connexion</a>
        {% else %}
            <p>Aucun lien n'est actuellement générer, vous pouvez en générer en appuyant sur le button ci-dessous</p>
            <a href="{{ path('create_token', {userId: user.id}) }}"> Générer un lien de connexion</a>
        {% endif %}
    {% endif %}

{% endblock %}